<!DOCTYPE html>
<html style="height: 725px;">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Orbits</title>
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic">
    <link rel="stylesheet" href="/static/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/Contact-Form-Clean.css">
    <link rel="stylesheet" href="/static/css/Footer-Dark.css">
</head>

<body style="padding: 0px;">
    <nav class="navbar navbar-light navbar-expand-lg fixed-top" id="mainNav">
        <div class="container"><a class="navbar-brand" href="https://github.com/theTonyVal">theTonyVal</a><button data-bs-toggle="collapse" data-bs-target="#navbarResponsive" class="navbar-toggler" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><i class="fa fa-bars"></i></button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link" href="/home">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="/about">About</a></li>
                    <li class="nav-item"><a class="nav-link" href="/simulate">Simulate</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <header class="masthead" style="background: url(&quot;/static/img/space.jpg&quot;) center / contain;height: 925px;">
        <div class="overlay" style="height: 925px;"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-lg-8 mx-auto position-relative">
                    <div class="site-heading" style="text-align: center;height: 525px;margin: 30px;padding: 270px 0px 150px;">
                        <h1 style="height: 96px;">Orbits</h1><span class="subheading" style="height: 30px;margin: 0px 0px 0px;">Simulate Planetary Orbits</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- <script src="/static/bootstrap/js/bootstrap.min.js"></script> -->
</body>

</html>